<div class="col-md-6 offset-md-3">
    <h3> Update Medicines Details </h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Medicine Name</label>
            <input type="text" class="form-control" id="name"
                [(ngModel)]="medicines.name" name="name">
        </div>
        <div class="form-group">
            <label>Brand</label>
            <input type="text" class="form-control" id="brand"
                [(ngModel)]="medicines.brand" name="brand">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" id="quantity"
                [(ngModel)]="medicines.quantity" name="quantity">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" id="price"
                [(ngModel)]="medicines.price" name="price">
        </div>
        <div class="form-group">
            <label>Seller</label>
            <input type="text" class="form-control" id="seller"
                [(ngModel)]="medicines.seller" name="seller">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description"
                [(ngModel)]="medicines.description" name="description">
        </div>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
    </div>
    
