<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We’ve been empowering our customers in purchasing medicines and experiences across countries. By putting together meticulous information for our customers, we enable them to make an informed choice.</p>
    <hr class="my-4">
    <p>Launched in 2022, Our technology platform connects customers, medical partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover medicals, . On the other hand, we provide medical partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients. We also provide our delivery partners with transparent and flexible earning opportunities.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
