<div class="imageRight">
    <img src="assets/home.JPG" >
</div>
<div>
    <h3>{{title}}</h3>
    
    <table border="1" width="30%" class="table-sm">
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Antipyretics</a></td>
        </tr>
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Anticeptic</a></td>
        </tr>
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Pain Killers</a></td>
        </tr>
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Analgia</a></td>
        </tr>
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Antibiotics</a></td>
        </tr>
        <tr>
            <td><a routerLink="medicines" routerLinkActive="active">Syrups</a></td>
        </tr>
    </table>
</div>

<div>
    <table class="table table-hover">
        <th>
            <h3>{{title2}}</h3> 
        </th>
        <tr>
            <td>
                <img src="assets/paracetamol-tablets.jpg" height="200px" width="200px">
            </td>
            <td>
                <img src="assets/dolo-650mg.jpg" height="200px" width="200px">
            </td>
            <td>
                <img src="assets/cough-medicine-syrup.jpg" height="200px" width="200px">
            </td>
            <td>
                <img src="assets/diltiazem.jpg" height="200px" width="200px">
            </td>
        </tr>
        <tr>
            <td>
                <b>Paracetamol</b>
            </td>
            <td>
                <b>Dolo-650mg</b>
            </td>
            <td>
                <b>Benadryl</b>
            </td>
            <td>
                <b>Diltiazem</b>
            </td>
        </tr>
    </table>
    
</div>